body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
}

* {
  font-family: "Open-Sans", sans-serif;
  font-size: 14px;
}

@font-face {
  font-family: "Open-Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open-Sans-bold";
  font-style: bold;
  font-weight: 600;
  src: url("./../fonts/OpenSans-SemiBold.ttf");
}
