:root {
  --x-padding: 7.4rem;
  --navbar-height: 5.5rem;
  --primary-color: #1ea4ce;
  --secondary-color: #147594;
  --gray-color: #e0e0e0;
  --gray-dark: #a8a8a8;
  --gray-darkest: #6f6f6f;
  --light-blue: #697488;
  --secondary-button: #f2f0fd;
}

.container * {
  border-radius: 2px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.container {
  padding: 2.7rem var(--x-padding);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 18px;
  grid-auto-flow: row;
}

.basket {
  grid-area: 1 / 10 / 6 / 13;
  max-width: max-content;
  max-width: 100%;
}

.products {
  grid-area: 1 / 4 / 6 / 10;
}

.filters {
  grid-area: 1 / 1 / 6 / 4;
}

.footer {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 4rem 0;
}

button {
  border: 0;
}

/* navbar styling */
.navbar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--navbar-height);
  padding: 0 var(--x-padding);
}

.navbar > .button {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  padding: 0 2.1rem;
  background-color: var(--secondary-color);
  z-index: 1;
  cursor: pointer;
}

.navbar-logo {
  display: table-cell;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
/* navbar styling */

/* product card styling */
.product-thumbnail {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.2rem;
  background-color: #fefefe;
  border: 1.18px solid #f3f0fe;
  border-radius: 12px;
}
.product-thumbnail > img:hover {
  scale: 1.02;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
}
.product-price {
  color: var(--primary-color);
  font-weight: 600;
  padding: 0.3rem 0;
}
.product-title {
  padding: 0.2rem 0;
  font-weight: 600;
}
.product-button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  padding: 0.2rem 0;
}
.product-button:hover {
  background-color: var(--secondary-color);
  color: white;
}

.products-container {
  /* padding: 0.4rem; */
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  align-content: flex-start;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: 0.3rem 0.4rem; */
  margin: 0.8rem;
  width: 9rem;
}

/* product card styling */

.toggle-button {
  margin: 1.1rem 0.6rem 1.3rem 0;
  padding: 0.4rem 1.1rem;
}

/* checkbox radio styling */
.custom-radio[type="radio"] {
  appearance: none;
  border: 1px solid #d3d3d3;
  width: 1.6rem;
  height: 1.6rem;
  content: none;
  outline: none;
  border-radius: 100%;
  margin: 0;
}

.custom-radio[type="checkbox"] {
  appearance: none;
  border: 2px solid var(--gray-color);
  width: 1.6rem;
  height: 1.6rem;
  content: none;
  outline: none;
  border-radius: 100%;
  margin: 0;
}

.custom-radio[type="radio"]:checked {
  appearance: none;
  border-radius: 100%;
  outline: none;
  padding: 0;
  content: none;
  border: 0;
}

.custom-radio[type="radio"]:checked::before {
  position: absolute;
  background: transparent;
  accent-color: var(--primary-color);
  border-radius: 100%;
  color: var(--primary-color) !important;
  content: "\00A0\2713\00A0" !important;
  border: 2px solid var(--primary-color);
  transform: rotate(20deg);
  font-weight: 600;
  font-size: 13px;
}
/* checkbox radio styling */

/* filter container styles */
.filter-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0.8rem 0 1.6rem 0;
  padding: 1.8rem 1.6rem 0.9rem 1.6rem;
  border-radius: 2px;
}

.filters-title {
  font-size: 13px;
  font-weight: 600;
  color: var(--light-blue);
}

.filter-item {
  display: flex;
  padding: 0 0 1rem 0;
}
.filter-body {
  width: 100%;
  height: 9rem;
  padding: 1.1rem 0;
  overflow: scroll;
  overflow-x: hidden;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  border-radius: 2px;
}

.sorting-label {
  margin: 0 0 0 0.9rem;
  cursor: pointer;
}
.filtering-label {
  margin: 0 0 0 0.4rem;
  cursor: pointer;
}

.search-bar {
  padding-left: 1.1rem;
  border-radius: 2px !important;
  border-width: 2px;
  border-style: solid;
  border-color: var(--gray-color);
  outline: none !important;
  line-height: 3rem;
}

input[type="text"] {
  outline: none !important;
}

input[type="checkbox"] {
  width: 22px !important;
  height: 22px !important;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; */
  box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.25);
  background: transparent;
  padding: 0;
  border-radius: 2px !important;
}

input[type="checkbox"]:checked:after {
  position: absolute;
  border-radius: 2px !important;
  width: 22px !important;
  height: 22px !important;
  /* text-align: center; */
  /* content: "✔"; */
  color: white;
  background-color: var(--primary-color) !important;
  accent-color: var(--primary-color) !important;
}

.custom-checkbox {
  accent-color: #1f9fc6;
  height: 22px;
  width: 22px;
}
/* filter container styles */

/* scrollbar style */
.custom-scrollbar::-webkit-scrollbar-track {
  margin-top: 1rem;
  background-color: white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--gray-color);
}
/* scrollbar style */

/* basket styling */
.basket-container {
  padding: 1.35rem;
  background-color: white;
  max-height: 19vh;
  overflow-y: auto;
  border: 9px solid var(--primary-color);
}

.basket-item {
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray-color);
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}
.counter-parent {
  grid-area: 1 / 4 / 3 / 7;
}
.price-parent {
  grid-area: 2 / 1 / 3 / 4;
}
.basket-product-name {
  grid-area: 1 / 1 / 2 / 4;
}

.counter-container {
  display: flex;
  justify-content: flex-end;
}

.quantity-button {
  vertical-align: middle;
  background-color: transparent;
  color: var(--primary-color);
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 0 !important ;
}
.counter {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 0 !important ;
  background-color: var(--primary-color);
  font-weight: 600;
  color: white;
}

.basket-button-container {
  display: flex;
  justify-content: flex-end;
}

.basket-button {
  margin-top: 1.35rem;
  padding: 0.9rem 1.5rem;
  /* margin: 1rem; */
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}

.empty-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin: auto;

  /* flex-direction: "column"; */
}

/* basket styling */

@media screen and (max-width: 1100px) {
  .container {
    padding: 1rem;
    grid-template-rows: 1fr;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 18px;
    grid-auto-flow: row; */
  }

  .navbar {
    padding: 1rem;
  }

  .navbar > .button {
    padding: 1rem 0.5rem;
  }
  .basket {
    grid-area: 1 / 1 / 2 / 13;
    max-width: max-content;
    max-width: 100%;
  }

  .products {
    grid-area: 2 / 1 / 4 / 13;
  }

  .filters {
    grid-area: 4 / 1 / 6 / 13;
  }
}
