:root {
    --x-padding: 6.5rem;
    --navbar-height: 4.7rem;
    --primary-color: #1ea4ce;
    --secondary-color: #147594;
  }
  


.container *{
  border-radius: 2px;
}

button{
  border: 0;
}
  

  .navbar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: end;
    align-items: center;
    height: var(--navbar-height);
    padding: 0 var(--x-padding);
  }
    
  .navbar > .button {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    padding: 0 1.80rem;
    background-color: var(--secondary-color);
    z-index: 1;
    cursor: pointer;
  }
  
  
  .navbar-logo {
    display: table-cell;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .container {
    margin-top: 1.60rem;
    display: grid;
    padding: 1rem var(--x-padding);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 18px;
    grid-auto-flow: row;
  }
  
  .basket {
    grid-area: 1 / 10 / 6 / 13;
    border: 9px solid var(--primary-color);
  }
  
  .products {
    grid-area: 1 / 4 / 6 / 10;
  }
  
  .filters {
    grid-area: 1 / 1 / 6 / 4;
  }
  
.basket,.products,.filters{
  /* border: 1px solid red; */
  height: 100vh;
  background-color: white;
}
  
  /* For presentation only, will be deleted later*/
  /* .container * {
    background-color: white;
    position: relative;
  }
  
  .container *:after {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  } */
  

  .footer{
  
}



/* product card */
.product-thumbnail{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  /* padding: 0.1rem; */
  border: 1px solid rgba(128, 128, 128, 0.596);
  border-radius: 12px;
}
.product-thumbnail>img:hover{
  scale: 1.02;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
}
.product-title{
  font-weight: bold;
  margin: 0.0 0 0.9rem 0;
}
.product-price{
  color: var(--primary-color);
  font-weight: bold;
  margin: 0.0rem 0 0.1rem 0;

}
.product-button{
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}
.product-button:hover{
  background-color: var(--secondary-color);
  color: white;
}

.products-container{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.product-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 0.5rem; */
  margin: 0.3rem 0.6rem;
  /* display: block; */
  width: 8rem;
  /* max-width: 10rem; */
  /* background-color: rgba(102, 102, 102, 0.158); */
}





.toggle-button{
  margin: 12px 0;
  padding: 7px;
}


/* checkbox radio styling */

.custom-radio[type="radio"]{
  appearance: none;
  border: 1px solid #d3d3d3;
  width: 18px;
  height: 18px;
  content: none;
  outline: none;
  border-radius:100%;
  margin: 0;
  
}

.custom-radio[type="radio"]:checked {
 appearance: none;
 border-radius:100%;
 outline: none;
 padding: 0;
 content: none;
 border: 0
}

.custom-radio[type="radio"]:checked::before{
 position: absolute;
 background:transparent ;
 accent-color:var(--primary-color);
 border-radius:100%;
 color: var(--primary-color) !important;
 content: "\00A0\2713\00A0" !important;
 border: 2px solid var(--primary-color);
 transform: rotate(20deg);
 font-weight: bolder;
 font-size: 13px;
}




/* filter container styles */
.filter-container{
  height: 5rem;
  overflow: scroll;
}